$color-1: #FFFE14;
$color-2: #FEBF00;
$color-3: #ED1B24;
$color-4: #a9e4ff;
$color-5: #083e57;
$color-6: #222222;
$color-7: #FEFEFE;

:root {
    font-size: .9em;
}

* {
    box-sizing: border-box;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.input {
    display: flex;
    flex-direction: column;
    gap: .5em;
    width: 100%;

    input {
        width: 100%;
        padding: .3em .8em;
        border-radius: .4em;
        border: 1px solid #AAA;
        outline: none;
    }

    .error {
        color: red;
    }
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: fit-content;
    padding: .5em 1em;
    cursor: pointer;
    background: $color-5;
    color: $color-7;
}


.navbar {
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    background: $color-5;
    color: $color-7;

    .navbar__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        max-width: 1000px;
        padding: 1em;

        .navbar__banner {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1em;

            .banner__logo {
                display: flex;
                align-items: center;
                gap: .3em;

                img {
                    height: 3em;
                }
            }

            .banner__text {
                display: flex;
                flex-direction: column;
                gap: .2em;

                header {
                    font-size: 1.7em;
                    font-weight: 700;
                    line-height: 1;
                }
            }
        }

        .navbar__menu {
            display: flex;
            gap: .5em;

            .menu__item {
                padding: .3em .8em;
            }

            .menu__dropdown {
                display: none;
            }
        }
    }
}

.second-navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    background: $color-2;
    color: $color-6;

    .second-navbar__container {
        display: flex;
        align-items: center;
        justify-content: end;
        width: 100%;
        max-width: 1000px;
        padding: .3em 1em;

        .second-navbar__menu {
            display: flex;
            gap: .5em;
            font-size: .9em;

            .menu__item {
                display: flex;
                align-items: center;
                gap: .5em;
                padding: .3em .5em;

                a {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-weight: bold;
                    line-height: 1;
                }

                i {
                    font-size: 1.3em;
                    line-height: 0;
                }
            }

            .menu__dropdown {
                display: none;
            }
        }
    }
}

.jumbotron {
    display: flex;
    align-items: center;
    justify-content: center;

    .jumbotron__container {
        display: flex;
        gap: 1em;
        height: 450px;
        width: 100%;
        max-width: 1100px;
        padding: 3em 1em;

        .jumbotron__left {
            position: relative;
            display: flex;
            height: 100%;
            width: 70%;
            overflow: hidden;

            &::after {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
            }

            img {
                position: absolute;
                object-fit: cover;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                height: 100%;
                width: 100%;

            }
        }

        .jumbotron__right {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            gap: 1.2em;
            width: 500px;
            padding: 2em 3em;
            background: $color-6;
            color: $color-7;

            .post {
                display: flex;
                flex-direction: column;
                gap: 1em;

                .post__item {
                    display: flex;
                    gap: 1em;

                    .post__thumbnail {
                        object-fit: cover;
                        aspect-ratio: 4/3;
                        height: 5em;
                    }

                    .item__right {
                        display: flex;
                        flex-direction: column;
                        gap: .5em;

                        .post__title {
                            font-weight: 600;
                            line-height: 1.2;
                        }

                        .item__info {
                            display: flex;
                            gap: .8em;

                            small {
                                display: flex;
                                align-items: center;
                                gap: .3em;
                                color: #888;
                            }
                        }
                    }
                }
            }
        }
    }
}

.about {
    display: flex;
    justify-content: center;
    .about__container {
        display: flex;
        justify-content: space-between;
        gap: 2em;
        width: 100%;
        max-width: 1100px;
        padding: 1em 1em 4em;
    }
}
.info {
    display: flex;
    justify-content: center;
    .info__container {
        display: flex;
        flex-direction: column;
        width: 800px;
        gap: 2em;
        .info__title {
            display: flex;
            flex-direction: column;
            h2 {
                font-size: 1.1em;
                font-weight: bold;
                color: $color-5;
            }
        }
        .info__post {
            display: flex;
            flex-direction: column;
            gap: 1em;
            .info__top {
                display: flex;
                gap: 1em;
                .post__new {
                    display: flex;
                    flex-direction: column;
                    gap: 1em;
                    height: fit-content;
                    padding: .5em;
                    border: 1px solid #CCC;
                    
                    .post__thumbnail {
                        object-fit: cover;
                        aspect-ratio: 4/3;
                        height: 8.9em;
                    }
    
                    .item__right {
                        display: flex;
                        flex-direction: column;
                        gap: .5em;
                        padding: 1em .5em;
    
                        .post__title {
                            font-size: 1.3em;
                            font-weight: 700;
                            line-height: 1.2;
                        }
    
                        .item__info {
                            display: flex;
                            gap: .8em;
                            
                            small {
                                display: flex;
                                align-items: center;
                                gap: .3em;
                                color: #888;
                            }
                        }
                    }
                }
                .post {
                    display: flex;
                    flex-direction: column;
                    gap: 1em;
    
                    .post__item {
                        display: flex;
                        gap: 1em;
                        padding: .5em;
                        border: 1px solid #CCC;
                        width: 392px;
                        height: 90px;
    
                        .post__thumbnail {
                            object-fit: cover;
                            aspect-ratio: 4/3;
                            height: 5em;
                        }
    
                        .item__right {
                            display: flex;
                            flex-direction: column;
                            gap: .5em;
    
                            .post__title {
                                font-size: 1.1em;
                                font-weight: 700;
                                line-height: 1.2;
                            }
    
                            .item__info {
                                display: flex;
                                gap: .8em;
    
                                small {
                                    display: flex;
                                    align-items: center;
                                    gap: .3em;
                                    color: #888;
                                }
                            }
                        }
                    }
                }
            }
            .post {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 1em;

                li {
                    display: flex;
                    width: 100%;
                    
                    .post__item {
                        display: flex;
                        gap: 1em;
                        padding: .5em;
                        border: 1px solid #CCC;
                        width: 100%;
                        height: 90px;
    
                        .post__thumbnail {
                            object-fit: cover;
                            aspect-ratio: 4/3;
                            height: 5em;
                        }
    
                        .item__right {
                            display: flex;
                            flex-direction: column;
                            gap: .5em;
    
                            .post__title {
                                font-size: 1.1em;
                                font-weight: 700;
                                line-height: 1.2;
                            }
    
                            .item__info {
                                display: flex;
                                gap: .8em;
    
                                small {
                                    display: flex;
                                    align-items: center;
                                    gap: .3em;
                                    color: #888;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    img {
        width: 50%;
    }
}

.article {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4em 1em;

    .article__container {
        display: flex;
        flex-direction: column;
        gap: .5em;
        width: 100%;
        max-width: 700px;

        .article__title {
            font-size: 2.4em;
            font-weight: bold;
            color: $color-6;
        }

        .article__info {
            display: flex;
            align-items: center;
            gap: 1.4em;

            small {
                display: flex;
                align-items: center;
                gap: .3em;
                color: #888;
            }
        }

        .article__cover {
            display: flex;
            flex-direction: column;
            margin: 2em 0;

            img {
                width: 100%;
            }
        }
    }
}

section.post {
    display: flex;
    flex-direction: column;
    align-items: center;

    >.header {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 2em 1em;

        .header__container {
            display: flex;
            align-items: center;
            width: 800px;
            padding: 2em 1em;

            .title {
                font-size: 2.8em;
                font-weight: bolder;
                text-shadow: 3px 3px 8px #00000020;
                color: $color-7;
            }
        }

        &::after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            background: linear-gradient(rgba($color-1, 70%), rgba($color-2, 70%));
            z-index: -1;
        }

        img {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center;
            z-index: -2;
            filter: grayscale(1);
        }
    }

    section:nth-child(2) {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 800px;
        padding: 4em 1em;

        p {
            line-height: 1.8;
            margin-bottom: 1.5em;
            color: #333333;
        }

        h5 {
            font-size: 1.3em;
            font-weight: bold;
            margin-bottom: .6em;
        }
        
        ul {
            display: flex;
            flex-direction: column;
            margin-bottom: 1.5em;
            gap: 1em;
            padding: 0 0 0 2em;
            
            li {
                list-style: disc;
            }
        }
    }
}

body.dashboard {
    display: flex;
    min-height: 100vh;

    section.sidebar {
        display: flex;
        flex-direction: column;
        gap: 1em;
        width: 250px;
        background: $color-6;
        color: $color-7;

        .sidebar__container {
            padding: 1.5em;
        }
    }

    section:nth-child(2) {
        display: flex;
        flex-direction: column;
        gap: 2em;
        width: 100%;
        padding: 2em;

        >header {
            font-size: 2em;
            font-weight: bold;
            color: $color-5;
        }
    }
}
