@use 'variables' as *;
@use 'placeholders' as *;
@use 'mixins' as *;

/* 
 | ---------------------------------
 |  Input
 | ---------------------------------
 */
    .input {
        display: flex;
        flex-direction: column;
        gap: .5em;
        width: 100%;
        
        &__label {
            font-size: .8em;
            color: rgba(black, 60%);
        }
        
        &__error {
            font-size: .8em;
            line-height: $line-height-default;
            color: red;
        }
        
        input {
            font-family: $font-family-default;
            font-size: .9rem;
            font-weight: $font-weight-default;
            height: 40px;
            width: 100%;
            padding: .8em;
            border-radius: 0em;
            background: $color-white;
            border: 1px solid rgba($color-black, 15%);
            outline: none;
            
            &[type="checkbox"],
            &[type="radio"] {
                min-height: fit-content;
            }
            
            &.error {
                border-color: red !important;
            }
        }
        
        textarea {
            font-family: $font-family-default;
            font-size: .9rem;
            line-height: $line-height-default;
            min-height: 40px;
            height: 100%;
            width: 100%;
            padding: .8em;
            resize: vertical;
            background: $color-white;
            border: 1px solid rgba($color-black, 15%);
            outline: none;
            
            &.error {
                border-color: red !important;
            }
        }
        
        .select {
            position: relative;
            font-size: .9rem;
            min-height: 40px;
            width: 100%;
            padding: .6em;
            cursor: pointer;
            border-radius: 0em;
            background: $color-white;
            border: 1px solid rgba($color-black, 15%);
            outline: none;
            
            select {
                position: absolute;
                appearance: none;
                font-family: $font-family-default;
                font-size: .9rem;
                font-weight: $font-weight-default;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                padding: .6em;
                cursor: pointer;
                border: none;
                outline: none;
                background: transparent;
            }
            
            &::after {
                content: '\25be';
                position: absolute;
                display: flex;
                align-items: center;
                top: 0;
                right: .6em;
                bottom: 0;
                opacity: 50%;
                pointer-events: none;
            }
            
            &.error {
                border-color: red;
            }
        }
        
        .select-search,
        .select-search-multiple {
            position: relative;
            
            ul {
                position: absolute;
                display: flex;
                flex-direction: column;
                margin: .5em 0 0;
                min-width: 10em;
                padding: .6em;
                overflow-y: scroll;
                z-index: 10;
                box-shadow: 2px 2px 10px rgba(black, 10%);
                background: white;
                
                li {
                    padding: .5em .8em;
                    cursor: pointer;
                    
                    &:hover {
                        border-radius: 0em;
                        background: rgba(black, 5%);
                    }
                }
            }
        }
        
        .checkbox {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: .3em;
            margin: .2em 0 0;
            
            label {
                display: flex;
                align-items: center;
                font-size: .95em;
                line-height: 1.4;
                gap: .5em;
                width: fit-content;
                color: $color-text;
                cursor: pointer;
                
                input {
                    height: fit-content;
                    width: fit-content;
                }
            }
        }
        
        .radio {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: .8em;
            margin: .2em 0 0;
            
            label {
                display: flex;
                align-items: center;
                font-size: .95em;
                line-height: 1.4;
                gap: .5em;
                width: fit-content;
                color: $color-text;
                cursor: pointer;
                
                input {
                    margin: 0;
                    height: fit-content;
                    width: fit-content;
                }
            }
        }
        
        .editor {
            display: flex;
            height: 100%;
            width: 100%;
            
            .ck-editor {
                height: 100%;
                width: 100%;
            }
        
            .ck-editor__main {
                height: 100%;
                width: 100%;
            }
            
            .ck-content {
                min-height: calc(100% - 2.4em);
                max-height: calc(100% - 2.4em);
                width: 100%;
                font-family: $font-family-default;
            }
        }
        
        .image {
            position: relative;
            display: flex;
            flex-direction: column;
            gap: 1em;
            height: 100%;
            cursor: pointer;
            
            &::after {
                content: 'Choose File';
                position: absolute;
                display: none;
                align-items: center;
                justify-content: center;
                font-size: .9em;
                text-align: center;
                inset: 0;
                background: rgba($color-black, 50%);
                color: rgba($color-white, 80%);
            }
            
            &:hover::after {
                display: flex;
                pointer-events: none;
            }
            
            .image__input {
                position: absolute;
                inset: 0;
                height: 100%;
                opacity: 0%;
                cursor: pointer;
            }
            
            .image__preview {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
                width: 100%;
                padding: .5em;
                border: .1em dashed rgba($color-black, 20%);
                background: $color-white;
                
                &.is-empty .image__value {
                    display: none;
                }
                
                &.has-image .image__empty {
                    display: none;
                }
                
                .image__value {
                    display: flex;
                    object-fit: cover;
                    height: 100%;
                    width: 100%;
                }
                
                .image__empty {
                    font-size: 3em;
                    opacity: 20%;
                }
            }
        }
        
        .success {
            border: 2px solid #50dc4d;
            background: #dbf6db;
        }
        
        &:has(.editor),
        &:has(textarea) {
            height: 100%;
        }
        
        &:has(.checkbox),
        &:has(.radio) {
            height: fit-content;
        }
    }
/* 
 | ---------------------------------
 |  Button
 | ---------------------------------
 */
    .button {
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: $font-family-default;
        font-size: .9em;
        text-align: center;
        gap: .6em;
        min-height: 40px !important;
        min-width: 8em;
        padding: .6em 1em;
        cursor: pointer;
        border: 1px solid $color-2;
        background: $color-2;
        color: $color-white;
        
        &.button__outline {
            background: transparent;
            color: $color-2;
        }
        &.button__success {
            border-color: $color-success;
            background: $color-success;
        }
        &.button__info {
            border-color: $color-info;
            background: $color-info;
        }
        &.button__danger {
            border-color: $color-danger;
            background: $color-danger;
        }
    }
/* 
 | ---------------------------------
 |  Modal
 | ---------------------------------
 */
    .modal {
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1rem;
        inset: 0;
        height: 100%;
        padding: 2em;
        z-index: 9999;
        backdrop-filter: blur(2px);
        background: rgba(black, 80%);
        
        .modal__container {
            position: relative;
            display: flex;
            flex-direction: column;
            font-size: 1rem;
            gap: 1.5em;
            max-height: 100%;
            width: 100%;
            padding: 1.5em;
            overflow-y: auto;
            box-shadow: 3px 3px 15px rgba(black, 5%);
            background: $color-light;
            
            .modal__header {
                display: flex;
                flex-direction: column;
                gap: 1em;
                
                .header__title {
                    font-size: 1.2em;
                    font-weight: bold;
                    line-height: 1.5;
                    margin: 0 0 -.5em;
                    color: $color-1;
                }
                
                .header__subtitle {
                    font-size: .9em;
                    color: rgba(black, 60%);
                }
            }
            
            .modal__separator {
                width: 100%;
                border: .8px solid rgba(black, 8%);
                margin: 0;
            }
            
            .modal__close {
                cursor: pointer;
                align-self: flex-end;
            }
            
            .table {
                background: transparent;
                
                th {
                    padding: .4em 1em;
                }
                td {
                    padding: .4em 1em;
                    
                    .table__action {
                        gap: .3em;
                        
                        .button {
                            padding: .4em;
                            min-width: 2.5em !important;
                        }
                    }
                }
            }
            
            .form {
                gap: 1em;
                
                .form__row,
                .form__col {
                    gap: 1em;
                }
            }
            
            .disclaimer {
                font-size: .9em;
                line-height: 1.5em;
                padding: .8em 1.2em;
                border-radius: 0em;
                background: #f5ecca;
                color: #75683d;
            }
            
            p {
                line-height: 1.6;
            }
        }
    }
/* 
 | ---------------------------------
 |  Table
 | ---------------------------------
 */
    .table {
        overflow: auto;
        height: 100%;
        border: 1px solid rgba($color-black, 30%);
        
        table {
            width: 100%;
            
            tr {
                
                &:first-child {
                    
                    th, td {
                        border-top: none;
                    }
                }
                
                &:last-child {
                    
                    td {
                        border-bottom: none;
                    }
                }
            }
            
            th {
                font-size: .8em;
                font-weight: bold;
                line-height: 1.3;
                vertical-align: middle;
                padding: .5em;
                border: 1px solid rgba($color-black, 30%);
                color: $color-text;
                background: $color-4;
                
                &:first-child {
                    border-left: none;
                }
                
                &:last-child {
                    border-right: none;
                }
            }
            
            td {
                font-size: .9em;
                line-height: 1.3;
                vertical-align: middle;
                padding: .5em;
                border: 1px solid rgba($color-black, 30%);
                color: $color-text;
                
                &:first-child {
                    border-left: none;
                }
                
                &:last-child {
                    border-right: none;
                }
                
                &:has(img) {
                    line-height: 0;
                }
            }
            
            .table__empty {
                font-size: .9em;
                text-align: center;
                height: 100%;
                padding: 4em 1em;
                background: rgba($color-black, 2%);
                color: rgba($color-black, 30%);
            }
        }   
    }
/* 
 | ---------------------------------
 |  Form
 | ---------------------------------
 */
    .form {
        display: flex;
        flex-direction: column;
        gap: 1.5em;
        height: 100%;
        width: 100%;

        .form__col {
            display: flex;
            flex-direction: column;
            justify-content: start;
            gap: 2em;
            height: 100%;
            width: 100%;
            
            > .form__line {
                @include line(horizontal);
            }
        }

        .form__row {
            display: flex;
            gap: 2em;
            height: 100%;
            width: 100%;
            
            > .form__line {
                @include line();
            }
        }
        
        .form__bottom {
            display: flex;
            align-self: end;
            gap: .8em;
            margin: 1em 0 0;
        }
        
        .form__term {
            @extend %text;
            font-size: .8em;
            opacity: 80%;
            
            .term__title {
                font-size: 1.1em;
                font-weight: bold;
            }
        }
    }
/* 
 | ---------------------------------
 |  Portal Navbar
 | ---------------------------------
 */
    .portal-navbar {
        position: sticky;
        top: 0;
        z-index: 100;

        nav.top {
            display: flex;
            justify-content: center;
            width: 100vw;
            background: $color-white;
            padding: 1em 2em;

            .top__container {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                max-width: 1200px;

                .top__left {
                    
                    .top__banner {
                        display: flex;
                        align-items: center;
                        text-decoration: none;
                        gap: .8em;

                        .banner__left {
                            display: flex;
                            gap: .2em;

                            .banner__logo {
                                width: 3.2em;
                                padding: 0 0 0 .5em;
                                
                                &:first-child {
                                    border-right: .01em solid rgba($color-1, 30%);
                                    padding: 0 .6em 0 0;
                                }
                            }
                        }

                        .banner__right {
                            display: flex;
                            flex-direction: column;
                            gap: .3em;

                            .banner__title {
                                font-family: $font-family-secondary;
                                font-size: 1.5em;
                                font-weight: 700;
                                text-decoration: none;
                                color: $color-1;
                            }

                            .banner__subtitle {
                                font-size: .8em;
                                font-weight: 500;
                                text-decoration: none;
                                color: $color-2;
                            }
                        }
                    }
                }

                .top__right {
                    .input {
                        background: #000;
                        width: 20em;
                    }
                }
            }
        }
        
        nav.bottom {
            display: flex;
            justify-content: center;
            background: lighten($color-4, 3%);
            border: 1px solid rgba($color-black, 5%);
            
            .bottom__container {
                display: flex;
                width: 100%;
                max-width: 1200px;
                
                .bottom__menu {
                    display: grid;
                    grid-auto-flow: column;
                    grid-auto-columns: 1fr;
                    width: 100%;
                    
                    .menu__item {
                        display: flex;
                            align-items: center;
                            justify-content: center;
                            font-size: .9em;
                            font-weight: 400;
                            text-align: center;
                            text-decoration: none;
                            padding: 1em;
                            cursor: pointer;
                            z-index: 10;
                            color: rgba($color-text, 60%);
                        
                        &:hover {
                            background: $color-4;
                        }
                    }
                }
            }
        }
    }
/* 
| ---------------------------------
|  Footer
| ---------------------------------
*/
    footer {
        display: flex;
        justify-content: center;
        padding: 4em 2em;
        background: $color-2;

        .footer__container {
            display: flex;
            justify-content: space-between;
            width: 100%;
            max-width: 1200px;

            .footer__left {
                display: flex;
                flex-direction: column;
                gap: 1.5em;
                width: 80%;
            }

            .footer__right {
                display: flex;
                flex-direction: column;
                gap: 1.5em;
                width: 80%;
            }

            .footer__logo {
                display: flex;
                gap: 1em;

                img {
                    height: 6em;
                }
            }

            .footer__text {
                line-height: 1.5;
                color: rgba($color-white, 80%);
            }
        }
    }
/* 
| ---------------------------------
|  Copyright
| ---------------------------------
*/
    .copyright {
        display: flex;
        justify-content: center;
        padding: 1em 4em;

        .copyright__container {
            display: flex;
            align-items: center;
            width: 100%;

            .copyright__text {
                font-size: .8em;
            }
        }
    }
/* 
| ---------------------------------
|  Empty
| ---------------------------------
*/
    .empty {
        font-size: .9em;
        padding: 2em 0;
        color: rgba($color-black, 50%);
    }

/* 
 | ---------------------------------
 |  Navigation
 | ---------------------------------
 */
    section.navigation {
        
        &.guest {
            position: sticky;
            top: 0;
            z-index: 100;
    
            .navigation:first-child {
                display: flex;
                justify-content: center;
                width: 100vw;
                padding: .6em 2em;
                transition: 200ms;
                background: $color-1;
    
                .navigation__container {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;
                    max-width: 1200px;

                    .menu:first-child {
                        display: flex;
                        align-items: center;

                        .menu__item {
                            @extend %menu;
                            font-size: .85em;
                            padding: 0 .8em;
                            border-right: .8px solid rgba($color-white, 50%);
                            color: $color-white;

                            &:last-child {
                                border-right: none;
                            }
                        }
                    }

                    .menu:last-child {
                        display: flex;
                        align-items: center;

                        .menu__item {
                            @extend %menu;
                            font-size: .85em;
                            color: $color-white;
                        }
                    }
                }
            }
    
            .navigation:last-child {
                display: flex;
                justify-content: center;
                width: 100vw;
                padding: 1.5em 2em;
                z-index: 100;
                transition: 200ms;
                background: $color-light;
                box-shadow: 0 4px 12px rgba($color-black, 10%);
    
                .navigation__container {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;
                    max-width: 1200px;
    
                    .banner {
                        display: flex;
                        align-items: center;
                        text-decoration: none;
                        gap: .8em;

                        .banner__left {
                            display: flex;
                            gap: .2em;

                            .banner__logo {
                                width: 3.2em;
                                padding: 0 0 0 .5em;
                                
                                &:first-child {
                                    padding: 0 .6em 0 0;
                                    transition: 200ms;
                                    border-right: .01em solid rgba($color-1, 30%);
                                }
                            }
                        }

                        .banner__right {
                            display: flex;
                            flex-direction: column;
                            gap: .3em;

                            .banner__title {
                                font-family: $font-family-secondary;
                                font-size: 1.5em;
                                font-weight: 700;
                                text-decoration: none;
                                color: $color-1;
                            }

                            .banner__subtitle {
                                font-size: .8em;
                                font-weight: 500;
                                text-decoration: none;
                                color: $color-2;
                            }
                        }
                    }

                    .menu {
                        display: flex;
                        align-items: center;
                        gap: .2em;

                        > .menu__item {
                            @extend %menu;
                        }

                        > .menu__dropdown {
                            position: relative;

                            > .dropdown__label {
                                @extend %menu;
                            }

                            > .dropdown__menu {
                                position: absolute;
                                display: none;
                                flex-direction: column;
                                align-items: start;
                                right: 0;
                                padding: 1.95em 0 0;

                                > .menu__item {
                                    @extend %menu;
                                    width: 15em;
                                    padding: .8em 1em;
                                    opacity: 100%;
                                    background: lighten($color-2, 6%);
                                    color: $color-light;

                                    &:hover {
                                        background: $color-2;
                                    }
                                }
                                
                                > .menu__dropdown {
                                    position: relative;

                                    > .dropdown__label {
                                        @extend %menu;
                                        justify-content: space-between;
                                        text-align: left;
                                        width: 15em;
                                        padding: .8em 1em;
                                        opacity: 100%;
                                        background: lighten($color-2, 6%);
                                        color: $color-light;

                                        &:hover {
                                            background: darken($color-2, 2%);
                                        }
                                    }
                                    
                                    > .dropdown__menu {
                                        position: absolute;
                                        display: none;
                                        flex-direction: column;
                                        align-items: start;
                                        top: 0;
                                        left: 100%;
                                        
                                        > .menu__item {
                                            @extend %menu;
                                            width: 15em;
                                            padding: .8em 1em;
                                            opacity: 100%;
                                            background: lighten($color-2, 2%);
                                            color: $color-light;

                                            &:hover {
                                                background: darken($color-2, 2%);
                                            }
                                        }
                                    }
                                    
                                    &:has(:hover) {
                                        
                                        > .dropdown__label {
                                            background: darken($color-2, 6%);
                                        }
        
                                        > .dropdown__menu {
                                            display: flex;
                                        }
                                    }
                                }
                            }
                            
                            &:has(:hover) > .dropdown__menu {
                                display: flex;
                            }
                        }
                    }
                }
            }
            
            &.transparent {
                
                .navigation:first-child {
                    opacity: 80%;
                    transition: 200ms;
                    background: transparent;
                    
                    .menu {
                        
                        .menu__item {
                            opacity: 90%;
                        }
                    }
                }

                .navigation:last-child {
                    transition: 200ms;
                    background: transparent;
                    box-shadow: none;
                    
                    .banner {
                        
                        .banner__logo:first-child {
                            border-right: .01em solid rgba($color-white, 30%) !important;
                        }
                                    
                        .banner__title {
                            transition: 200ms;
                            color: $color-white !important;
                        }
                        
                        .banner__subtitle {
                            transition: 200ms;
                            color: rgba($color-white, 80%) !important;
                        }
                    }
                            
                    .menu {
                        
                        > .menu__item,
                        > .menu__dropdown > .dropdown__label {
                            transition: 200ms;
                            text-shadow: 1px 1px 4px rgba($color-black, 20%) !important;
                            color: $color-white !important;
                            
                            &.menu__highlight {
                                color: $color-5 !important;
                            }
                        }
                    }
                }
            }
        }
        
        &.dashboard {
            width: 20em;
            background: $color-1;
            height: 100vh;
            overflow-y: auto;

            .navigation__container {
                display: flex;
                flex-direction: column;
                gap: 1em;
                padding: 2em 1em;

                .menu {
                    display: flex;
                    flex-direction: column;

                    .menu__item {
                        @extend %menu;
                        padding: .5em .8em;
                        color: rgba($color-light, 80%);

                        &:hover {
                            background: $color-2;
                            color: $color-light;
                        }
                    }

                    .menu__line {
                        @include line(horizontal, light);
                        width: 90%;
                    }
                }
            }
        }
    }