@use 'variables' as *;

/* 
 | ---------------------------------
 |  Input
 | ---------------------------------
 */
    .input {
        display: flex;
        flex-direction: column;
        gap: .5em;
        width: 100%;
        
        &__label {
            font-size: .8em;
            color: rgba(black, 60%);
        }
        
        &__error {
            font-size: .8em;
            color: red;
        }
        
        input {
            font-family: $font-family-default;
            font-size: .9em;
            min-height: 40px;
            width: 100%;
            padding: .8em;
            border-radius: 0em;
            border: 1px solid rgba(black, 30%);
            outline: none;
            
            &[type="checkbox"],
            &[type="radio"] {
                min-height: fit-content;
            }
            
            &.error {
                border-color: red !important;
            }
        }
        
        .select {
            position: relative;
            min-height: 40px;
            width: 100%;
            padding: .6em;
            cursor: pointer;
            border-radius: 0em;
            border: 1px solid rgba(black, 30%);
            outline: none;
            
            select {
                position: absolute;
                appearance: none;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                padding: .6em;
                cursor: pointer;
                border: none;
                outline: none;
                background: transparent;
            }
            
            &::after {
                content: '\25be';
                position: absolute;
                display: flex;
                align-items: center;
                top: 0;
                right: .6em;
                bottom: 0;
                opacity: 50%;
                pointer-events: none;
            }
            
            &.error {
                border-color: red;
            }
        }
        
        .select-search {
            position: relative;
            
            ul {
                position: absolute;
                display: flex;
                flex-direction: column;
                margin: .5em 0 0;
                min-width: 10em;
                padding: .6em;
                overflow-y: scroll;
                z-index: 10;
                box-shadow: 2px 2px 10px rgba(black, 10%);
                background: white;
                
                li {
                    padding: .3em .8em;
                    cursor: pointer;
                    
                    &:hover {
                        border-radius: 0em;
                        background: rgba(black, 5%);
                    }
                }
            }
        }
        
        .checkbox {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: .3em;
            margin: .5em 0 0;
            
            label {
                display: flex;
                align-items: center;
                gap: .5em;
                width: fit-content;
                color: $color-text;
                cursor: pointer;
                
                input {
                    width: fit-content;
                }
            }
        }
        
        .radio {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: .8em;
            margin: .5em 0 0;
            
            label {
                display: flex;
                align-items: center;
                gap: .5em;
                width: fit-content;
                cursor: pointer;
                
                input {
                    margin: 0;
                    width: fit-content;
                }
            }
        }
        
        .success {
            border: 2px solid #50dc4d;
            background: #dbf6db;
        }
    }
/* 
 | ---------------------------------
 |  Button
 | ---------------------------------
 */
    .button {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1rem;
        text-align: center;
        gap: .6em;
        min-height: 30px !important;
        min-width: 6em;
        padding: .6em 1em;
        cursor: pointer;
        border: 1px solid $color-2;
        background: $color-2;
        color: $color-white;
        
        &.button__outline {
            background: transparent;
            color: $color-2;
        }
        
        &.button__success {
            border-color: $color-success;
            background: $color-success;
        }
        &.button__info {
            border-color: $color-info;
            background: $color-info;
        }
        &.button__danger {
            border-color: $color-danger;
            background: $color-danger;
        }
    }
/* 
 | ---------------------------------
 |  Table
 | ---------------------------------
 */
    .table {
        
        th {
            font-size: .95em;
            font-weight: bold;
            line-height: 1.3;
            vertical-align: middle;
            padding: .5em;
            border: 1px solid rgba($color-black, 30%);
            color: $color-text;
            background: $color-4;
        }
        
        td {
            font-size: .95em;
            line-height: 1.3;
            vertical-align: middle;
            padding: .5em;
            border: 1px solid rgba($color-black, 30%);
            color: $color-text;
        }
        
        .table__empty {
            font-size: .9em;
            text-align: center;
            padding: 4em 1em;
            background: rgba($color-black, 2%);
            color: rgba($color-black, 30%);
        }
    }