@use 'variables' as *;

/* 
 | ---------------------------------
 |  Line
 | ---------------------------------
 */
    @mixin line(
        $direction: vertical, 
        $color: dark
    ) {
        border: .5px solid
            if($color == light, rgba($color-light, 10%), rgba($color-dark, 10%));

        @if $direction == horizontal {
            width: 100%;
            height: 0;
        } @else {
            height: 100%;
        }
    }