@use 'variables' as *;
@use 'placeholders' as *;
@use 'mixins' as *;

/* 
 | ---------------------------------
 |  Guest
 | ---------------------------------
 */
    body.guest {
        
        section.home {

            section.jumbotron {
                position: relative;
                display: flex;
                justify-content: center;
                overflow: hidden;
                background: linear-gradient(100deg, darken(rgba($color-1, 90%), 15%) 10%, transparent);
        
                .jumbotron__background {
                    position: absolute;
                    object-fit: cover;
                    inset: 0;
                    height: 120%;
                    width: 100%;
                    z-index: -1;
                    filter: contrast(110%) saturate(110%) hue-rotate(-5deg) brightness(110%);
                    transform: translateZ(0);
                    will-change: transform;
                }
        
                .jumbotron__container {
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                    justify-content: center;
                    gap: 1.5em;
                    height: 100vh;
                    width: 100%;
                    max-width: 1200px;
        
                    .jumbotron__title {
                        font-size: 3.2em;
                        font-weight: 700;
                        line-height: 1.1;
                        max-width: 12em;
                        color: $color-white;
                    }
        
                    .jumbotron__subtitle {
                        font-family: $font-family-secondary;
                        font-size: 2.2em;
                        font-weight: 700;
                        color: $color-5;
                    }
        
                    .jumbotron__description {
                        font-size: 1.3em;
                        font-weight: 500;
                        line-height: 1.5;
                        width: 25em;
                        max-width: 600px;
                        margin: 1em 0 0;
                        padding: .5em 1em;
                        backdrop-filter: blur(2px);
                        background: linear-gradient(120deg, rgba($color-3, 50%), rgba($color-3, 30%), rgba($color-3, 40%));
                        color: $color-white;
                    }
                }
            }
            section.sambutan {
                display: flex;
                justify-content: center;
                padding: 6em 2em 2em;
        
                .sambutan__container {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    gap: 4em;
                    width: 100%;
                    max-width: 1200px;
        
                    .sambutan__photo {
                        aspect-ratio: 1/1;
                        object-fit: cover;
                        width: 100%;
                        max-width: 32em;
                    }
                    
                    .sambutan__right {
                        display: flex;
                        flex-direction: column;
                        gap: 1em;
                        width: 100%;
        
                        .sambutan__title {
                            @extend %header-2;
                        }
                        
                        .sambutan__author {
                            font-size: 1em;
                            font-weight: 600;
                            width: fit-content;
                            margin: 0 0 1em;
                            padding: .5em .8em;
                            background: $color-6;
                            color: $color-light;
                        }
                        
                        .sambutan__body {
                            @extend %text;
                            text-align: justify;
                            hyphens: auto;
                            -webkit-hyphens: auto;
                            -ms-hyphens: auto;
                            word-break: normal;
                            margin: 0 0 .6em;
                            
                            .body__readmore {
                                @extend %text;
                                font-weight: 500;
                                text-decoration: none;
                                color: $color-2;
                            }
                        }
        
                        .sambutan__menu {
                            display: flex;
                            flex-direction: column;
        
                            .menu__item {
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                                font-weight: 400;
                                text-decoration: none;
                                padding: .8em 0;
                                border-bottom: .01em solid rgba($color-dark, 25%);
                                color: $color-dark;
                            }
                        }
                    }
                }
            }
            section.pusat {
                display: flex;
                justify-content: center;
                padding: 4em 2em;
        
                .pusat__container {
                    display: flex;
                    flex-direction: column;
                    gap: 3em;
                    width: 100%;
                    max-width: 1200px;
                    
                    .pusat__header {
                        display: flex;
                        justify-content: center;
                        gap: 2em;
                        
                        .header__title {
                            @extend %header-2;
                            text-align: center;
                            white-space: nowrap;
                            padding: 0 1em 0 0;
                        }
                    }
                    
                    .pusat__list {
                        display: grid;
                        grid-auto-flow: column;
                        grid-auto-columns: 1fr;
                        gap: 1.5em;
                        width: 100%;
            
                        .list__item {
                            position: relative;
                            display: flex;
                            flex-direction: column;
                            align-items: start;
                            justify-content: end;
                            gap: .6em;
                            height: 15em;
                            width: 100%;
                            padding: 2em;
                            cursor: pointer;
                            background: linear-gradient(190deg, transparent, darken($color-dark, 10%) 90%);
                            
                            &:hover {
                                
                                .item__background {
                                    filter: grayscale(0);
                                }
                            }
                            
                            .item__background {
                                position: absolute;
                                object-fit: cover;
                                top: 0;
                                right: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                                z-index: -1;
                                filter: grayscale(100%);
                            }
                            
                            .item__title {
                                font-size: 1.1em;
                                font-weight: bold;
                                line-height: 1.4;
                                max-width: 400px;
                                color: $color-white;
                            }
                        }
                    }
                }
            }
            section.ivos {
                position: relative;
                display: flex;
                justify-content: center;
                padding: 2em 2em;
                background: $color-1;
                
                &::after {
                    content: '';
                    position: absolute;
                    inset: 0;
                    background: linear-gradient(90deg, transparent, darken($color-1, 10%) 30% 70%, rgba(darken($color-1, 10%), 70%));
                    z-index: 1;
                }
                
                .ivos__lobby {
                    position: absolute;
                    object-fit: cover;
                    top: 0;
                    bottom: 0;
                    left: -25em;
                    height: 100%;
                    width: 90em;
                    opacity: 10%;
                    filter: grayscale(100%) contrast(150%);
                }
                
                .ivos__texture {
                    position: absolute;
                    object-fit: cover;
                    top: 0;
                    bottom: 0;
                    right: 0em;
                    height: 100%;
                    width: 60%;
                    filter: grayscale(100%);
                }
                
                .ivos__container {
                    position: relative;
                    display: grid;
                    grid-auto-flow: column;
                    grid-auto-columns: 1fr;
                    align-items: center;
                    gap: 3em;
                    min-height: 20em;
                    width: 100%;
                    max-width: 1200px;
                    z-index: 2;
                    
                    .ivos__qr {
                        width: 10em;
                    }
                    
                    .ivos__header {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        gap: .5em;
                        
                        .header__title {
                            font-size: 4em;
                            font-weight: 700;
                            color: $color-white;
                            text-shadow: 0 0 10px rgba($color-white, 50%);
                        }
                        
                        .header__subtitle {
                            font-size: 1.4em;
                            font-weight: 500;
                            color: $color-5;
                        }
                        
                        .header__tagline {
                            margin: 1em 0 0;
                            padding: .4em .8em;
                            backdrop-filter: blur(2px);
                            background: linear-gradient(120deg, rgba($color-3, 50%), rgba($color-3, 30%), rgba($color-3, 40%));
                            color: $color-white;    
                        }
                    }
                    
                    .ivos__time {
                        display: flex;
                        flex-direction: column;
                        align-items: end;
                        
                        p {
                            font-weight: 700;
                            font-size: 1.1em;
                            color: $color-white;
                            
                            span {
                                font-size: .9em;
                                font-weight: 500;
                                opacity: 50%;
                            }
                        }
                    }
                }
            }
            section.pengelola {
                position: relative;
                display: flex;
                justify-content: center;
                padding: 6em 2em;
                z-index: 1;
                
                .pengelola__container {
                    display: flex;
                    flex-direction: column;
                    gap: 3em;
                    width: 100%;
                    max-width: 1200px;
                    
                    .pengelola__header {
                        display: flex;
                        gap: 2em;
                        
                        .header__title {
                            @extend %header-2;
                            white-space: nowrap;
                            padding: 0 1em 0 0;
                            border-right: .01em solid rgba($color-black, 50%);
                        }
                    }
                    
                    .pengelola__list {
                        display: grid;
                        grid-template-columns: repeat(5, 1fr);
                        gap: 1.5em;

                        .list__item {
                            position: relative;
                            aspect-ratio: 4/4;
                            width: 100%;
                            background: linear-gradient(transparent 50%, rgba($color-black, 80%));

                            .item__photo {
                                position: absolute;
                                object-fit: cover;
                                inset: 0;
                                height: 100%;
                                width: 100%;
                                z-index: -1;
                            }

                            .item__bottom {
                                position: absolute;
                                display: flex;
                                flex-direction: column;
                                justify-content: end;
                                inset: 0;
                                gap: .5em;
                                height: 100%;
                                width: 100%;
                                padding: 1.2em;

                                .item__title {
                                    font-size: .9em;
                                    font-weight: 500;
                                    color: $color-white;
                                }

                                .item__subtitle {
                                    font-size: .8em;
                                    color: rgba($color-white, 60%);
                                }
                            }
                        }
                    }
                }
            }
            section.jenjang {
                display: flex;
                justify-content: center;
                padding: 5em 2em 4em;
                background: linear-gradient($color-3, transparent);
        
                .jenjang__container {
                    display: flex;
                    flex-direction: column;
                    gap: 2em;
                    width: 100%;
                    max-width: 1200px;
        
                    .jenjang__header {
                        display: flex;
                        gap: 2em;
                        
                        .header__title {
                            @extend %header-1;
                            white-space: nowrap;
                        }
                    }
                    
                    .jenjang__list {
                        display: grid;
                        grid-auto-flow: column;
                        grid-auto-columns: 1fr;
                        gap: 1em;
                        width: 100%;
                        
                        .list__item {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                            gap: .6em;
                            height: 8em;
                            width: 100%;
                            padding: 1.5em;
                            background: $color-white;
                            box-shadow: 2px 2px 8px rgba($color-black, 5%);
            
                            .item__count {
                                font-size: 3em;
                                font-weight: bold;
                                color: $color-2;
                            }
            
                            .item__title {
                                font-size: .95em;
                                color: $color-text;
                            }
                        }
                    }
                }
            }
            section.akreditasi {
                display: flex;
                justify-content: center;
                padding: 0 2em 4em;
                
                .akreditasi__container {
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    max-width: 1200px;
                    
                    .akreditasi__item {
                        width: 48%;
                    }
                }
            }
            section.advertisement {
                display: flex;
                justify-content: center;
                padding: 3em 2em;
        
                .advertisement__container {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;
                    max-width: 1200px;
                    padding: 4em 8em;
                    background: $color-3;
        
                    .advertisement__left {
                        display: flex;
                        flex-direction: column;
                        gap: .8em;
                        max-width: 30em;
        
                        .advertisement__title {
                            font-size: 1.5em;
                            font-weight: 500;
                        }
        
                        .advertisement__body {
                            line-height: $line-height-default;
                            font-weight: $font-weight-default;
                            color: $color-text;
                        }
                    }
        
                    .advertisement__right {
        
                        .advertisement__link {
                            text-decoration: none;
                            padding: .6em 1em;
                            border-radius: .4em;
                            background: $color-1;
                            color: $color-white;
                        }
                    }
                }
            }
            section.berita {
                display: flex;
                justify-content: center;
                padding: 3em 2em;
        
                .berita__container {
                    display: flex;
                    flex-direction: column;
                    gap: 2em;
                    width: 100%;
                    max-width: 1200px;
        
                    .berita__header {
                        display: flex;
                        gap: 2em;
                        align-items: center;
        
                        .header__title {
                            @extend %header-1;
                            white-space: nowrap;
                        }
        
                        .header__line {
                            width: 100%;
                            border: .01em solid $color-2;
                        }
                    }
        
                    .berita__list {
                        display: grid;
                        grid-template-columns: repeat(4, 1fr);
                        gap: 1.5em;
        
                        .list__item {
                            position: relative;
                            aspect-ratio: 11/12;
                            width: 100%;
        
                            .item__cover {
                                object-fit: cover;
                                height: 100%;
                                width: 100%;
                            }
        
                            .item__bottom {
                                position: absolute;
                                display: flex;
                                flex-direction: column;
                                justify-content: end;
                                inset: 0;
                                gap: .5em;
                                padding: 1.5em;
                                background: linear-gradient(transparent 20%, rgba($color-black, 100%));
        
                                .item__title {
                                    @extend %text;
                                    font-weight: bold;
                                    line-height: 1.4;
                                    color: $color-white;
                                }
        
                                .item__date {
                                    display: flex;
                                    align-items: center;
                                    gap: .3em;
                                    font-size: .9em;
                                    color: rgba($color-white, 60%);
                                }
                            }
                        }
                    }
                }
            }
            section.video {
                display: flex;
                justify-content: center;
                padding: 4em 2em;
                background: $color-4;
        
                .video__container {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    max-width: 1200px;
        
                    .video__slider {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        gap: 2em;
                        width: 100%;
        
                        .slider__nav {
                            display: flex;
        
                            button {
                                font-size: 1.2em;
                                padding: 0;
                                cursor: pointer;
                                background: transparent;
                                border: none;
                                color: rgba($color-black, 50%);
                            }
                        }
        
                        .slider__list {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            gap: 1.8em;
        
                            .list__item {
                                position: relative;
                                aspect-ratio: 16/9;
                                height: 10em;
                                overflow: hidden;
        
                                &:hover {
        
                                    >i {
                                        opacity: 0;
                                        transform: scale(1);
                                    }
                                }
        
                                .item__thumbnail {
                                    height: 100%;
                                    width: 100%;
                                    object-fit: cover;
                                }
        
                                >i {
                                    position: absolute;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    font-size: 1.5em;
                                    inset: 0;
                                    background: rgba($color-black, 20%);
                                    color: $color-white;
                                    opacity: 1;
                                    transform: scale(1.2);
                                    transition: 200ms;
                                }
                            }
                        }
                    }
                }
            }
            section.sosmed {
                display: flex;
                justify-content: center;
                background: $color-white;
        
                .sosmed__container {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 1em;
                    padding: 3em;
                    border-bottom: .02em solid $color-1;
        
                    .sosmed__item {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        text-decoration: none;
                        font-size: 2em;
                        aspect-ratio: 1/1;
                        width: 2.1em;
                        padding: .5em;
                        border-radius: 50%;
                        background: $color-dark;
                        color: $color-white;
                    }
                }
            }
            section.sponsorship {
                display: flex;
                justify-content: center;
                padding: 3em;
                background: $color-white;
        
                .sponsorship__container {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 2.5em;
        
                    .sponsorship__logo {
                        height: 5em;
                    }
                }
            }
        }
        
        section.page {
            display: flex;
            flex-direction: column;
    
            .page__row {
                display: flex;
                gap: 3em;
                width: 100%;
            }
            
            .page__col {
                display: flex;
                flex-direction: column;
                width: 100%;
            }
            
            .page__title {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: end;
                height: 20em;
                background: rgba($color-black, 25%);
    
                .title__background {
                    position: absolute;
                    object-fit: cover;
                    inset: 0;
                    height: 100%;
                    width: 100%;
                    z-index: -1;
                }
    
                .title__container {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    max-width: 40em;
                    padding: 2em;
                    background: linear-gradient(100deg, rgba($color-white, 95%), rgba($color-white, 90%), rgba($color-white, 100%));
    
                    .title {
                        font-size: 1.8em;
                        font-weight: bold;
                        color: $color-1;
                    }
                }
            }

            .page__header {
                display: flex;
                align-items: center;
                gap: 1em;
                margin: 2em 0 1em;
                
                .header__icon {
                    font-size: .9em;
                    color: rgba($color-2, 80%);
                }
                
                .header__title {
                    @extend %header-1;
                    font-size: 1.2em;
                    color: $color-2;
                }
                
                .header__line {
                    @include line(horizontal);
                }
            }
    
            section:last-child {
                display: flex;
                flex-direction: column;
                gap: 1em;
                min-height: 30em;
                width: 100%;
                max-width: 1000px;
                margin: 4em auto;
                
                &.sambutan {
                    flex-direction: row;
                    align-items: start;
                    gap: 3em;
                    
                    .sambutan__photo {
                        object-fit: contain;
                        width: 20em;
                    }
                }
    
                &.struktur-organisasi {
                    
                    .list {
                        display: grid;
                        grid-template-columns: repeat(4, 1fr);
                        gap: 1.5em;

                        .list__item {
                            position: relative;
                            aspect-ratio: 4/4;
                            width: 100%;
                            background: linear-gradient(transparent 50%, rgba($color-black, 80%));

                            .item__photo {
                                position: absolute;
                                object-fit: cover;
                                inset: 0;
                                height: 100%;
                                width: 100%;
                                z-index: -1;
                            }

                            .item__bottom {
                                position: absolute;
                                display: flex;
                                flex-direction: column;
                                justify-content: end;
                                inset: 0;
                                gap: .5em;
                                height: 100%;
                                width: 100%;
                                padding: 1.2em;

                                .item__title {
                                    font-size: .9em;
                                    font-weight: 500;
                                    color: $color-white;
                                }

                                .item__subtitle {
                                    font-size: .8em;
                                    color: rgba($color-white, 60%);
                                }
                            }
                        }
                    }
                }
    
                div.tugas-fungsi {
                    gap: 3em;
    
                    .tugas,
                    .fungsi {
                        display: flex;
                        flex-direction: column;
                        gap: 1em;
                        width: 100%;
                    }
                }
                
                blockquote {
                    font-weight: 400;
                    margin: 1em 0;
                    padding: 0 0 0 2em;
                    border-left: .5em solid darken($color-4, 5%);
                    
                    p {
                        text-align: start;
                        margin: 0;
                    }
                    
                    * {
                        line-height: $line-height-default - .2;
                    }
                }
                
                .image {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: fit-content;
                    margin: auto;
                }
                
                img {
                    display: flex;
                    object-fit: contain;
                    height: 100%;
                    width: 100%;
                    border: .01em solid rgba($color-black, 10%);
                }
                
                ul, ol {
                    display: flex;
                    flex-direction: column;
                    gap: .5em;
                    margin: .5em 0;
                    padding: 0 0 0 1.5em;
                    
                    li {
                        padding-left: 1em;
                    }
                }
                
                p, li {
                    @extend %text;
                    text-align: justify;
                    hyphens: auto;
                    -webkit-hyphens: auto;
                    -ms-hyphens: auto;
                    word-break: normal;
                }
                
                p {
                    margin: .5em 0;
                }
            }
        }
    }
/* 
 | ---------------------------------
 |  Portal
 | ---------------------------------
 */
    body.portal {

        section.index {
            position: relative;
            display: flex;
            justify-content: center;
            min-height: 40em;
            padding: 5em 2em 7em;

            .index__container {
                display: flex;
                flex-direction: column;
                gap: 4em;
                width: 100%;
                max-width: 1200px;

                .header {
                    display: flex;

                    .header__container {
                        position: relative;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 100%;
                        max-width: 1200px;

                        .header__title {
                            @extend %header-2;
                            text-align: center;
                        }
                    }
                }
                
                .list {
                    display: grid;
                    grid-template-columns: repeat(4, 1fr);
                    gap: 2em;
                    
                    .list__item {
                        display: flex;
                        flex-direction: column;
                        text-decoration: none;
                        gap: 1.5em;
                        
                        .item__cover {
                            aspect-ratio: 4/3;
                            object-fit: cover;
                            width: 100%;
                        }
                        
                        .item__bottom {
                            display: flex;
                            flex-direction: column;
                            gap: .4em;
                            
                            .item__title {
                                @extend %header-3;
                                font-size: 1em;
                            }
                            
                            .item__date {
                                @extend %text;
                                font-size: .9em;
                            }
                            
                            .item__excerpt {
                                @extend %text;
                                font-size: .9em;
                                line-height: 1.4;
                                hyphens: auto;
                                -webkit-hyphens: auto;
                                -ms-hyphens: auto;
                                word-break: normal;
                                opacity: 80%;
                            }
                        }
                    }
                }
            }
        }
    }
/* 
 | ---------------------------------
 |  Dashboard
 | ---------------------------------
 */
    body.dashboard {
        display: flex;
        height: 100vh;
        width: 100vw;

        section:nth-child(2) {
            display: flex;
            flex-direction: column;
            justify-content: start;
            gap: 2em;
            height: 100vh;
            width: 100%;
            padding: 2.5em;
            overflow-y: scroll;
            
            .dashboard__row {
                display: flex;
                gap: 2.5em;
                
                .dashboard__line {
                    @include line();
                }
            }
            
            .dashboard__col {
                display: flex;
                flex-direction: column;
                gap: 2.5em;
                
                .dashboard__line {
                    @include line(horizontal);
                }
            }
            
            .dashboard__title {
                @extend %header-1;
                color: $color-dark;
            }
            
            .dashboard__header {
                display: flex;
                align-items: center;
                gap: 1em;
                
                .header__title {
                    @extend %header-1;
                    font-size: 1.2em;
                    white-space: nowrap;
                    color: $color-2;
                }
                
                .header__line {
                    @include line(horizontal);
                }
            }
            
            .dashboard__table {
                display: flex;
                flex-direction: column;
                gap: 2em;
                
                .table__features {
                    display: flex;
                    align-items: center;
                    justify-content: end;
                    gap: .8em;
                    
                    > .feature__search {
                        max-width: 20em;
                    }
                }
            }
            
            &.sambutan {
            
                .input:has(.image) {
                    aspect-ratio: 1/1;
                    
                    .image__preview {
                        object-fit: cover;
                        aspect-ratio: 1/1;
                    }
                }
            }
            
            &.pengelola {
    
                .table {
                    
                    .photo {
                        aspect-ratio: 11/12;
                        object-fit: cover;
                        width: 4em;
                        margin: 0;
                    }
                }
            }
            
            &.pusat {
                
                .table {
                    
                    .photo {
                        aspect-ratio: 11/12;
                        object-fit: cover;
                        width: 10em;
                        margin: 0;
                    }
                }
            }
            
            &.portal {
                
                .form {
                    height: 100%;
                    
                    > .form__row {
                        height: 100%;
                        
                        .form__col:last-child {
                            max-width: 15em;
                            
                            .input:has(.image) {
                                aspect-ratio: 4/3;
                                
                                .image__preview {
                                    aspect-ratio: 4/3;
                                    object-fit: cover;
                                }
                            }
                            
                            .portal__category {
                                position: relative;
                                
                                .category__input {
                                    
                                    .input__label {
                                        margin: .4em 0 1em;
                                    }
                                }
                                
                                .category__button {
                                    position: absolute;
                                    font-size: .8em;
                                    top: 0;
                                    left: 5em;
                                    min-height: fit-content;
                                    padding: .2em .4em;
                                }
                            }
                        }
                    }
                }
                
                .table {
                    
                    .cover {
                        aspect-ratio: 4/3;
                        object-fit: cover;
                        width: 5em;
                    }
                }
            }
            
            &.survey-form {
                
                .form {
                
                    .form__bottom {
                        justify-content: space-between;
                        width: 100%;
                    }
                    
                    .form__items {
                        display: flex;
                        flex-direction: column;
                        gap: 1em;
                        
                        .item {
                            display: flex;
                            align-items: end;
                            gap: .5em;
                            
                            .remove__button {
                                width: fit-content;
                                min-width: fit-content;
                            }
                        }
                    }
                }
            }
            
            &.website {
                
                .form {
                    height: fit-content;
                }
                
                .form__active {
                    height: fit-content;
                    width: 30em;
                }
                
                .jumbotron_background {
                    width: 24em;
                    height: fit-content;
                    
                    .image__preview {
                        object-fit: cover;
                        aspect-ratio: 16/9;
                    }
                }
                
                .page__background {
                    
                    .image__preview {
                        object-fit: cover;
                        aspect-ratio: 16/4;
                    }
                }
                
                .active__field {
                    display: flex;
                    flex-direction: column;
                    gap: 1em;
                    padding: 1.5em;
                    max-width: 20em;
                    background: $color-white;
                    border: .08em solid rgba($color-black, 10%);
                    
                    .field__input {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        width: 100%;
                        
                        .input {
                            width: fit-content;
                        }
                        
                        .input__label {
                            font-size: 1.1em;
                            font-weight: bold;
                            color: $color-1;
                        }
                    }
                }
            }
        }
        
        .modal {
            
            &.pengelola {
            
                .input:has(.image) {
                    width: 7.4em;
                    
                    .image__preview {
                        height: 7.4em;
                        
                        .image__empty {
                            font-size: 1.8em;
                        }
                    }
                }
            }
            
            &.pusat {
                
                .input:has(.image) {
                    width: 9em;
                    
                    .image__preview {
                        height: 7.4em;
                        
                        .image__empty {
                            font-size: 1.8em;
                        }
                    }
                }
                
                .selected-table {
                    display: flex;
                    height: 10em;
                    width: 100%;
                    overflow-y: auto;
                    background: rgba($color-black, 5%);
                    border: 1px solid rgba($color-black, 15%);
                    
                    table {
                        height: fit-content;
                        width: 100%;
                        background: rgba($color-light, 80%);
                        
                        tr:last-child {
                            td {
                                border-bottom: none;
                            }
                        }
                        
                        td {
                            font-size: .85em;
                            padding: .4em;
                            border: .1em solid rgba($color-black, 10%);
                            border-top: none;
                            
                            &:first-child {
                                border-left: none;
                                padding: .2em .8em;
                            }
                            
                            &:last-child {
                                border-right: none;
                                text-align: center;
                                
                                button {
                                    aspect-ratio: 1/1;
                                    width: 1.5em;
                                    padding: 0;
                                    cursor: pointer;
                                    background: $color-danger;
                                    border: none;
                                    color: $color-light;
                                }
                            }
                            
                            .input {
                                height: fit-content;
                                background: #000;
                                
                                input {
                                    height: fit-content !important;
                                    padding: .4em;
                                }
                            } 
                        }
                    }
                }
            }
            
            &.akreditasi {
                
                .input:has(.radio) {
                    margin: 0 0 .5em;
                    
                    .radio {
                        display: grid;
                        grid-auto-flow: column;
                        grid-auto-columns: 1fr;
                        gap: .5em;
                        width: 100%;
                        
                        label {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-size: .85em;
                            text-align: center;
                            width: 100%;
                            padding: .8em .5em;
                            background: rgba($color-white, 50%);
                            border: .01em solid rgba($color-black, 20%);
                            
                            input {
                                position: absolute;
                                opacity: 0%;
                            }
                            
                            &:has(input:checked) {
                                background: $color-4;
                            }
                        }
                    }
                }
            }
        }
    }
/* 
 | ---------------------------------
 |  Maintenance
 | ---------------------------------
 */
    body.maintenance {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        width: 100vw;
        padding: 2em;
        
        .maintenance__container {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1em;
            
            .maintenance__logo {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 1.5em;
                margin: 0 0 1em;
                
                .logo__image {
                    height: 5em;
                }
            }
            
            .maintenance__title {
                @extend %header-1;
                text-align: center;
            }
            
            .maintenance__description {
                @extend %text;
                text-align: center;
                width: 22em;
                opacity: 80%;
            }
        }
    }