@use 'variables' as *;
@use 'placeholders' as *;

/* 
 | ---------------------------------
 |  Home
 | ---------------------------------
 */
    section.jumbotron {
        position: relative;
        display: flex;
        justify-content: center;
        overflow: hidden;
        background: linear-gradient(100deg, darken(rgba($color-1, 90%), 15%) 20%, rgba($color-black, 5%));

        .jumbotron__background {
            position: absolute;
            object-fit: cover;
            inset: 0;
            height: 120%;
            width: 100%;
            z-index: -1;
            filter: contrast(110%) saturate(110%) hue-rotate(-5deg);
            transform: translate3d(0, 0, 0);
            will-change: transform;
        }

        .jumbotron__container {
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: center;
            gap: 1.5em;
            height: 100vh;
            width: 100%;
            max-width: 1200px;
            // backdrop-filter: blur(1px);

            .jumbotron__title {
                font-size: 3.2em;
                font-weight: bolder;
                line-height: 1.1;
                max-width: 12em;
                text-shadow: 0 0 5px rgba($color-white, 50%);
                color: $color-white;
            }

            .jumbotron__subtitle {
                font-family: $font-family-secondary;
                font-size: 2.5em;
                font-weight: bolder;
                color: $color-5;
            }

            .jumbotron__description {
                font-size: 1.2em;
                line-height: 1.7;
                margin: 1em 0 0;
                color: rgba($color-white, 80%);
                width: 100%;
                max-width: 600px;
            }
        }
    }
    section.sambutan {
        display: flex;
        justify-content: center;
        padding: 4em 2em;

        .sambutan__container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 3em;
            width: 100%;
            max-width: 1200px;

            .sambutan__left {

                .sambutan__photo {
                    aspect-ratio: 4/3;
                    object-fit: cover;
                }
            }

            .sambutan__right {
                display: flex;
                flex-direction: column;
                gap: 1em;
                width: 100%;

                .sambutan__title {
                    @extend %header-2
                }

                hr {
                    align-self: flex-start;
                    width: 3em;
                    margin: 0;
                    border: 2px solid $color-1;
                }

                p {
                    @extend %text;
                }

                .sambutan__menu {
                    display: flex;
                    flex-direction: column;

                    .menu__item {
                        border-bottom: .8px solid rgba($color-black, 50%);

                        a {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            text-decoration: none;
                            padding: .8em;
                            color: $color-text;
                        }
                    }
                }
            }
        }
    }
    section.parameter {
        display: flex;
        justify-content: center;
        padding: 4em 2em;

        .parameter__container {
            display: flex;
            justify-content: center;
            gap: 1em;
            width: 100%;
            max-width: 1200px;

            .parameter__item {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: .6em;
                height: 8em;
                width: 100%;
                padding: 1.5em;
                background: $color-white;
                box-shadow: 2px 2px 8px rgba($color-black, 5%);

                .item__count {
                    font-size: 3em;
                    font-weight: bold;
                    color: $color-1;
                }

                .item__title {
                    font-size: .95em;
                    color: $color-text;
                }
            }
        }
    }
    section.pusat {
        display: flex;
        justify-content: center;
        padding: 2em 2em;

        .pusat__container {
            display: flex;
            flex-direction: column;
            gap: 3em;
            width: 100%;
            max-width: 1200px;
            
            .pusat__header {
                display: flex;
                gap: 2em;
                
                .header__title {
                    @extend %header-2;
                    white-space: nowrap;
                    padding: 0 1em 0 0;
                    border-right: .01em solid rgba($color-black, 50%)
                }
            }
            
            .pusat__list {
                display: grid;
                grid-auto-flow: column;
                grid-auto-columns: 1fr;
                gap: 1em;
                width: 100%;
    
                .list__item {
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                    justify-content: end;
                    gap: .6em;
                    height: 25em;
                    width: 100%;
                    padding: 2em;
                    background: linear-gradient(190deg, transparent, darken($color-dark, 10%) 90%);
                    // box-shadow: 2px 2px 8px rgba($color-black, 5%);
                    
                    .item__background {
                        position: absolute;
                        object-fit: cover;
                        top: 0;
                        right: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        z-index: -1;
                        // filter: grayscale(100%);
                    }
                    
                    .item__title {
                        font-size: 1.1em;
                        font-weight: bold;
                        line-height: 1.4;
                        max-width: 400px;
                        color: $color-white;
                    }
                }
            }
        }
    }
    section.advertisement {
        display: flex;
        justify-content: center;
        padding: 3em 2em;

        .advertisement__container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            max-width: 1200px;
            padding: 4em 8em;
            background: $color-3;

            .advertisement__left {
                display: flex;
                flex-direction: column;
                gap: .8em;
                max-width: 30em;

                .advertisement__title {
                    font-size: 1.5em;
                    font-weight: 500;
                }

                .advertisement__body {
                    line-height: $line-height-default;
                    font-weight: $font-weight-default;
                    color: $color-text;
                }
            }

            .advertisement__right {

                .advertisement__link {
                    text-decoration: none;
                    padding: .6em 1em;
                    border-radius: .4em;
                    background: $color-1;
                    color: $color-white;
                }
            }
        }
    }
    section.berita {
        display: flex;
        justify-content: center;
        padding: 3em 2em;

        .berita__container {
            display: flex;
            flex-direction: column;
            gap: 2em;
            width: 100%;
            max-width: 1200px;

            .berita__header {
                display: flex;
                gap: 2em;
                align-items: center;

                .header__title {
                    @extend %header-1;
                    white-space: nowrap;
                }

                .header__line {
                    width: 100%;
                    border: .01em solid $color-2;
                }
            }

            .berita__list {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 1.5em;

                .list__item {
                    position: relative;
                    aspect-ratio: 11/12;
                    width: 100%;

                    .item__cover {
                        object-fit: cover;
                        height: 100%;
                        width: 100%;
                    }

                    .item__text {
                        position: absolute;
                        display: flex;
                        flex-direction: column;
                        justify-content: end;
                        inset: 0;
                        gap: .5em;
                        padding: 1em;
                        background: linear-gradient(transparent 50%, rgba($color-black, 60%));

                        .text__title {
                            font-size: 1em;
                            font-weight: semibold;
                            color: $color-white;
                        }

                        .text__date {
                            display: flex;
                            align-items: center;
                            gap: .3em;
                            font-size: .9em;
                            color: rgba($color-white, 60%);
                        }
                    }
                }
            }
        }
    }
    section.video {
        display: flex;
        justify-content: center;
        padding: 4em 2em;
        background: $color-4;

        .video__container {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            max-width: 1200px;

            .video__slider {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 2em;
                width: 100%;

                .slider__nav {
                    display: flex;

                    button {
                        font-size: 1.2em;
                        padding: 0;
                        cursor: pointer;
                        background: transparent;
                        border: none;
                        color: rgba($color-black, 50%);
                    }
                }

                .slider__list {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 1.8em;

                    .list__item {
                        position: relative;
                        aspect-ratio: 16/9;
                        height: 10em;
                        overflow: hidden;

                        &:hover {

                            >i {
                                opacity: 0;
                                transform: scale(1);
                            }
                        }

                        .item__thumbnail {
                            height: 100%;
                            width: 100%;
                            object-fit: cover;
                        }

                        >i {
                            position: absolute;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-size: 1.5em;
                            inset: 0;
                            background: rgba($color-black, 20%);
                            color: $color-white;
                            opacity: 1;
                            transform: scale(1.2);
                            transition: 200ms;
                        }
                    }
                }
            }
        }
    }
    section.sosmed {
        display: flex;
        justify-content: center;
        background: $color-white;

        .sosmed__container {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1em;
            padding: 3em;
            border-bottom: .02em solid $color-1;

            .sosmed__item {
                display: flex;
                align-items: center;
                justify-content: center;
                text-decoration: none;
                font-size: 2em;
                aspect-ratio: 1/1;
                width: 2.1em;
                padding: .5em;
                border-radius: 50%;
                background: $color-dark;
                color: $color-white;
            }
        }
    }
    section.sponsorship {
        display: flex;
        justify-content: center;
        padding: 3em;
        background: $color-white;

        .sponsorship__container {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 2.5em;

            .sponsorship__logo {
                height: 5em;
            }
        }
    }