@use 'variables' as *;

/* 
 | ---------------------------------
 |  Header
 | ---------------------------------
 */
    %header-1 {
        font-size: 1.5em;
        font-weight: bold;
        font-family: $font-family-secondary;
        line-height: 1.4;
        color: $color-1;
    }
    %header-2 {
        font-family: $font-family-secondary;
        font-size: 2em;
        font-weight: 600;
        line-height: 1.2;
        color: $color-1;
    }
    %header-3 {
        font-family: $font-family-secondary;
        font-size: 1.2em;
        font-weight: 600;
        line-height: 1.4;
        color: $color-1;
    }
    %header-4 {
        position: relative;
        display: flex;
        align-items: center;
        font-family: $font-family-secondary;
        font-size: 1.4em;
        font-weight: 700;
        line-height: 1.4;
        gap: .5em;
        margin: 0 0 1em;
        color: $color-2;
        
        &::before {
            content: '';
            position: absolute;
            right: 0;
            bottom: -.5em;
            left: 0;
            height: .3em;
            width: 75%;
            opacity: 50%;
            background: $color-3;
        }
    }
/* 
 | ---------------------------------
 |  Text
 | ---------------------------------
 */
    %text {
        font-size: 1em;
        line-height: $line-height-default;
        color: $color-text;
    }
/* 
 | ---------------------------------
 |  Menu
 | ---------------------------------
 */
    %menu {
        position: relative;
        display: flex;
        align-items: center;
        font-size: .95em;
        font-weight: $font-family-default;
        line-height: $line-height-default;
        text-decoration: none;
        gap: .4em;
        padding: .2em .5em;
        cursor: pointer;
        opacity: 80%;
        z-index: 10;
        color: $color-1;
        
        &:hover {
            opacity: 100%;
        }
        
        .menu__icon {
            font-size: .9em;
            opacity: 80%;
        }
        
        .menu__icon__dropdown {
            font-size: .8em;
            opacity: 50%;
        }
        
        &.menu__highlight {
            color: $color-6;
        }
    }
/* 
 | ---------------------------------
 |  Table
 | ---------------------------------
 */
    %table {
        th {
            font-size: .95em;
            font-weight: bold;
            line-height: 1.3;
            vertical-align: middle;
            padding: .5em;
            border: 1px solid rgba($color-black, 30%);
            color: $color-text;
            background: $color-4;
        }

        td {
            font-size: .95em;
            line-height: 1.3;
            vertical-align: middle;
            padding: .5em;
            border: 1px solid rgba($color-black, 30%);
            color: $color-text;
        }
    }
/* 
 | ---------------------------------
 |  Animate
 | ---------------------------------
 */
    [data-animate] {
        opacity: 0;
        transition: opacity .6s ease, transform .6s ease;
    }
    [data-animate][data-position="top"] {
        transform: translateY(-50px);
    }
    [data-animate][data-position="bottom"] {
        transform: translateY(50px);
    }
    [data-animate][data-position="left"] {
        transform: translateX(-50px);
    }
    [data-animate][data-position="right"] {
        transform: translateX(50px);
    }
    [data-animate].is-visible {
        opacity: 1;
        transform: translate(0, 0);
    }
