@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

$font-family-default   : "Figtree", sans-serif;
$font-family-secondary   : "Figtree", sans-serif;
// $font-family-secondary : "PT Serif", serif;
$font-weight-default   : 400;
$line-height-default   : 1.5;

$color-1       : #073456;
$color-2       : #2b6794;
$color-3       : #c4dbec;
$color-4       : #EEEEEE;
$color-5       : #fcff47;
$color-6       : #eb1f27;
$color-text    : #333333;
$color-light   : #FAFAFA;
$color-dark    : #333333;
$color-white   : #FFFFFF;
$color-black   : #000000;
$color-success : #5adf42;
$color-danger  : #892727;
$color-info    : #3cffe5;
$color-warning : #ffe853;