@use 'reset';
@use 'variables'as *;
@use 'placeholders'as *;
@use 'components';
@use 'pages';
@use 'typography';

:root {
    font-size: 15.5px;
}

body {
    font-family: $font-family-default;
    background: $color-light;
    font-weight: $font-weight-default;
}

/* 
 | ---------------------------------
 |  Page
 | ---------------------------------
 */
    section.page {
        display: flex;
        flex-direction: column;

        section.page__header {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: end;
            height: 20em;
            background: rgba($color-black, 25%);

            .header__background {
                position: absolute;
                object-fit: cover;
                inset: 0;
                height: 100%;
                width: 100%;
                z-index: -1;
            }

            .header__container {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 100%;
                max-width: 40em;
                padding: 2em;
                background: linear-gradient(100deg, rgba($color-white, 95%), rgba($color-white, 90%), rgba($color-white, 100%));

                .header__title {
                    font-size: 1.8em;
                    font-weight: bold;
                    color: $color-1;
                }
            }
        }

        section.page__content {
            display: flex;
            justify-content: center;
            padding: 6em 2em;

            .content__container {
                display: flex;
                flex-direction: column;
                gap: 1em;
                min-height: 20em;
                width: 100%;
                max-width: 1000px;
            }
            
            div.sambutan {
                display: flex;
                flex-direction: row;
                align-items: start;
                gap: 3em;
                
                .sambutan__photo {
                    object-fit: contain;
                    width: 18em;
                }
            }

            div.visi-misi {
                flex-direction: row;
                gap: 3em;

                .visi,
                .misi {
                    display: flex;
                    flex-direction: column;
                    gap: 1em;
                    width: 100%;
                }
            }

            div.struktur-organisasi {
                max-width: 1000px;

                section.pengelola {
                    display: flex;
                    justify-content: center;
                    margin: 2em 0 0;

                    .pengelola__container {
                        display: flex;
                        flex-direction: column;
                        gap: 2em;
                        width: 100%;

                        .pengelola__header {
                            display: flex;
                            gap: 2em;
                            align-items: center;

                            .header__title {
                                @extend %header-1;
                                white-space: nowrap;
                            }

                            .header__line {
                                width: 100%;
                                border: .01em solid $color-2;
                            }
                        }

                        .pengelola__list {
                            display: grid;
                            grid-template-columns: repeat(3, 1fr);
                            gap: 1.5em;

                            .list__item {
                                position: relative;
                                aspect-ratio: 4/4;
                                width: 100%;
                                background: linear-gradient(transparent 50%, rgba($color-black, 80%));

                                .item__photo {
                                    position: absolute;
                                    object-fit: cover;
                                    inset: 0;
                                    height: 100%;
                                    width: 100%;
                                    z-index: -1;
                                }

                                .item__bottom {
                                    position: absolute;
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: end;
                                    inset: 0;
                                    gap: .5em;
                                    height: 100%;
                                    width: 100%;
                                    padding: 1.2em;

                                    .item__title {
                                        font-size: 1.1em;
                                        font-weight: 500;
                                        color: $color-white;
                                    }

                                    .item__subtitle {
                                        font-size: .9em;
                                        color: rgba($color-white, 60%);
                                    }
                                }
                            }
                        }
                    }
                }
            }

            div.tugas-fungsi {
                gap: 3em;

                .tugas,
                .fungsi {
                    display: flex;
                    flex-direction: column;
                    gap: 1em;
                    width: 100%;
                }
            }
            
            p {
                margin: 0 0 1em;
            }
        }
    }
/* 
 | ---------------------------------
 |  Login
 | ---------------------------------
 */
    body.login {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        width: 100vw;
        padding: 2em;

        &::after {
            content: '';
            position: absolute;
            inset: 0;
            height: 100%;
            width: 100%;
            backdrop-filter: blur(2px);
            background: linear-gradient(120deg, rgba($color-1, 80%), rgba($color-1, 30%));
        }

        .login__background {
            position: absolute;
            object-fit: cover;
            inset: 0;
            height: 100%;
            width: 100%;
            z-index: -1;
            filter: grayscale(80%);
        }

        .login__container {
            position: relative;
            display: flex;
            flex-direction: column;
            gap: 2em;
            width: 100%;
            max-width: 400px;
            padding: 4em 1.5em 1.5em;
            z-index: 2;
            background: linear-gradient(120deg, rgba($color-white, 95%), rgba($color-white, 90%));

            .login__logo {
                position: absolute;
                display: flex;
                aspect-ratio: 1/1;
                top: -3em;
                right: 9.4em;
                width: 6em;
                padding: 1em;
                border-radius: 50%;
                background: $color-white;
                box-shadow: 2px 2px 8px rgba($color-black, 5%);

                img {
                    width: 100%;
                }
            }

            .login__header {
                display: flex;
                flex-direction: column;
                gap: 1em;

                .header__title {
                    font-size: 1.5em;
                    font-weight: bold;
                    color: $color-text;
                }

                .header__description {
                    font-size: .9em;
                    line-height: $line-height-default;
                    color: rgba($color-text, 80%);
                }
            }

            .login__form {
                display: flex;
                flex-direction: column;
                gap: 1em;

                .form__action {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .remember {
                        font-size: .9rem;
                        width: fit-content;
                        margin: 0;
                    }

                    .forget {
                        font-size: .85em;
                        text-decoration: none;
                        white-space: nowrap;
                        color: $color-text;
                    }
                }
            }
        }
    }
/* 
 | ---------------------------------
 |  Guest
 | ---------------------------------
 */
    .guest {

        >section.pusat {
            display: flex;
            justify-content: center;
            min-height: 20em;
            padding: 4em 2em;

            .pusat__container {
                display: flex;
                justify-content: space-between;
                width: 100%;
                max-width: 1200px;

                .pusat__list {
                    display: flex;
                    flex-direction: column;
                    gap: 1em;
                    width: 100%;

                    .list__item {
                        position: relative;
                        display: flex;
                        align-items: center;
                        height: 15em;
                        width: 100%;
                        background: linear-gradient(90deg, rgba($color-white, 100%) 50%, rgba($color-white, 50%));
                        border: 1px solid rgba($color-black, 5%);
                        // box-shadow: 2px 2px 8px rgba($color-black, 10%);

                        .item__background {
                            position: absolute;
                            object-fit: cover;
                            top: 0;
                            right: 0;
                            bottom: 0;
                            height: 100%;
                            width: 60%;
                            z-index: -1;
                            filter: grayscale(100%);
                        }

                        .item__body {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            gap: 1em;
                            width: 100%;
                            max-width: 500px;
                            padding: 4em;

                            .body__title {
                                font-size: 1.2em;
                                font-weight: bold;
                                line-height: 1.4;
                                color: $color-text;
                            }

                            .body__subtitle {
                                font-size: .9em;
                                color: rgba($color-text, 60%);
                            }
                        }
                    }
                }
            }
        }
    }

    p {
        @extend %text;
    }
